<ul>
  <li>{{link-to 'Calendar UI' 'org.repo.issues' 'calendar-ui'}}</li>
  <li>{{link-to 'DatePicker UI' 'org.repo.issues' 'datepicker-ui'}}</li>
  <li>{{link-to 'Accordion UI' 'org.repo.issues' 'accordion-ui'}}</li>
</ul>

{{outlet}}
