 <h4>Contributors</h4>

   <ul>
    {{#each model as |contrib|}}
    {{social-links
      user=contrib
      on-links-toggle='linksToggled'}}
    {{else}}
    <li>Sorry, no data found!</li>
    {{/each}}
  </ul>

{{outlet}}
