 <h4>Issues</h4>

   <ul class='issues-list'>
    {{#each model as |issue|}}
    <li>{{issue.state}} - {{issue.title}}</li>
    {{else}}
    <li>Sorry, no data found!</li>
    {{/each}}
  </ul>

{{outlet}}
