  <h3>My Favorite Orgs</h3>
  <ul>
    <li>{{link-to 'Jquery' 'org.repos' 'jquery'}}</li>
    <li>{{link-to 'Ember.js' 'org.repos' 'emberjs'}}</li>
    <li>{{link-to 'React' 'org.repos' 'react'}}</li>
  </ul>

{{outlet}}
